.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h3 {
	margin-bottom: 20px;
}

.all-cats > div {
	float: left;
	width: 50%;
}

/*#rolly-cat-photo {
	width: 75%;
}

#jacob-cat-photo {
	width: 67%;
}*/