.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h3 {
	margin-bottom: 20px;
}

/* REMOVE TO ALLOW DIV TO APPEAR AT DESIGNATED SPOT */
/*.all-cats > div {
	float: left;
	width: 50%;
}*/

ul {
	list-style: none;
	padding: 0;
}

.hidden {
	display: none;
}

